@import "tailwindcss";
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Custom range slider */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-track {
  background: #d1d5db;
  height: 2px;
  border-radius: 1px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  background-color: black;
  border-radius: 50%;
  margin-top: -7px;
}

input[type="range"]::-moz-range-track {
  background: #d1d5db;
  height: 2px;
  border-radius: 1px;
}

input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background-color: black;
  border-radius: 50%;
  border: none;
}